<aside>
	<div class="panel radius">
		<h3>Muhammad Yusuf</h3>
		<p>
			Saya hanyalah seorang manusia biasa sama seperti anda. Namun impian kita sangat jauh berbeda. Akan tetapi, jika anda berada disini ada kemungkinan tujuan kita sama. Yaitu mencari sesuatu yang mungkin bagi kita sulit. Dan oleh sebab itu, mari kita bekerja sama saling membahu untuk menyelesaikan suatu permasalahan dalam jalan kita.
		</p>
	</div>

<div class="border-dotted radius b30">
  <a href="https://shope.ee/qLT8soLsC"><img class="b30" src="https://down-id.img.susercontent.com/file/sg-11134201-7rbk0-ll0up18zeu0809" alt=""></a>
</div>


	<div class="border-dotted radius b30">
		<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1794381705838564"
     crossorigin="anonymous"></script>
<!-- bannerku -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1794381705838564"
     data-ad-slot="9279811452"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
	</div>
</aside>